html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  display: grid;
  align-items: center;
  justify-items: center;
}

.pageTitle {
  text-align: center;
  width: 100vw;
}

.gameUi {
  display: flex;
  justify-content: space-around;
  width: 400px;
  margin: 0 auto;
  text-align: center;
}

.num {
  font-weight: bold;
  color: darkorchid;
}

.start {
  padding: 3% 1.5%;
  align-self: center;
  background:#2e86c1;
  color: white;
}

.disabled {
  background: darkgray;
}

.guide {
  width: 400px;
  font-size: 1.1rem;
  margin-bottom: 1%;
}

.canvasWrap {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: relative;
}

canvas {
  border: 5px solid darkorchid;
  border-radius: 10px;
  width: 400px;
  height: 500px;
  position: absolute;
}

#snake-body {
  z-index: 1;
}

#food {
  z-index: 2;
}